@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

body {
  font-family: "Figtree", sans-serif;
}

.custom-hover:hover + .bg-div {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
  top: 52%;
  left: 51.2%;
}
